<div class="link">
    <a href="/">Back</a> --> Task two
</div>
<h1>Sources</h1>
<?php if (isset($sources)): ?>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">MEDREC_ID</th>
            <th scope="col">ICD</th>
            <th scope="col">PATIENT_NAME</th>
            <th scope="col">NDC</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($sources as $source): ?>
            <tr>
                <td scope="row"><?= $this->escapeHtml($source['MEDREC_ID']); ?></td>
                <td><?= $this->escapeHtml($source['ICD']); ?></td>
                <td><?= $this->escapeHtml($source['PATIENT_NAME']); ?></td>
                <td><?= $this->escapeHtml($source['NDC']); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
